nav{
    text-align: center;
    font-size: 28px;
    padding-bottom: 20px;
}

a:hover{
    text-decoration: underline;
}

h1{
    color: red; 
}
nav a{
    padding-bottom: 200px;
    text-decoration: none; 
    color: black; 
}

body{
    text-align: center;
    list-style-position: inside;
}

.form{
    text-align: center; 
    display: block;
    margin:10px auto;
    padding:5px;
}

.menu{
    display: block;
    text-align: center;
    list-style-position: inside;
    
}
 .logo{
    width: 200px;
    height: auto;
 }

 .pic{
     display: block;
     width: 350px;
     height: auto;
     float: right;
 }

 .center{
    text-align: center;
    display: block;
 }

 #pizza{
     color: red; 
 }
